:root {
  --white-color: #fff;
  --white-transparent-color: #d7ccc0;
  --light-color: #f5f4f0;
  --light-grey-color: #e3e3e3;
  --main-color: #fe8a02;
  --main-orange-color: #ea7600;
  --main-dark-color: #42413c;
  --dark-color: #2a2626;
  --dark-transparent-color: #908d8b;
  --brown-color: #b09a81;
  --blue-color: #1085c5;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: Neucha;
  src: url('../fonts/Neucha-Regular.ttf');
}

body, h1, h2, h3, p {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark-color);
}

h1, h2, h3, .nav-header, .navigation dt, .footer-h {
  font-family: Neucha, sans-serif;
  font-weight: normal;
  line-height: 1.2em;
  color: var(--main-color);
}

h1 {
  font-size: 72px;
  margin-bottom: 195px;
}

h2 {
  font-size: 60px;
}

h3,  .footer-h{
  font-size: 34px;
}

div img {
  vertical-align: middle;
}

.main-color {
  color: var(--main-color);
}

.white-color {
  color: var(--white-color);
}

.dark-color {
  color: var(--dark-color);
}

.brown-color {
  color: var(--brown-color);
}

.filter {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.bg-light {
  position: relative;
  overflow: hidden;
  background-color: var(--light-color);
}

.bg-middle {
  position: relative;
  background-color: var(--brown-color);  
}

.bg-dark {
  background-color: var(--main-dark-color);
}

.bg-white {
  background-color: var(--white-color);
}

p {
  margin-bottom: 13px;
  break-inside: avoid;
}

header, section, footer, .navigation {
  max-width: 1110px;
  padding: 100px  0;
  margin: 0 auto;
}

.columns-2 {
  column-count: 2;
  column-gap: 30px;
}

.no-column {
  column-span: all;
}

.br-b {
  break-before: avoid;
}

.m0-a {
  margin: 0 auto;
}

.mb-30 {
  margin-bottom: 30px;
}

.pb-16 {
  padding-bottom: 16px;
}

.db {
  display: block;
}

.pr {
  position: relative;
}

.center {
  text-align: center;
}

.zi-100 {
  position: relative;
  z-index: 100;
}

header {
  position: relative;
}

header img {
  position: absolute;
  top: 55px;
  right: -270px; 
  height: 525px;
}

.preview-image img {
  width: 919px;
  height: 517px;
}

.navigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px 30px;
  counter-reset: num;
}

.navigation .bg-white {
  display: flex;
  flex-direction: column;
}

.navigation dt {
	font-size: 34px;
  margin-bottom: 16px;
  position: relative;
  padding: 24px 24px 0;
}

.navigation dd {
	margin-inline-start: 0;
  position: relative;
  padding: 0 24px 24px;
  flex-grow: 1;
}

.nav-header, .nav-header dt {
  font-size: 52px;
  margin-bottom: 0;
}

.navigation div:first-child dt,
.navigation div:first-child dd {
  padding: 0;
}

.navigation dt::before {
	content: counter(num);
  counter-increment: num;
  font-family: Neucha, sans-serif;
  font-weight: normal;
  font-size: 64px;
  line-height: 1em;
  color: var(--main-dark-color);
  display: block;
  padding-bottom: 40px;
}

.navigation div:first-child dt::before {
	content: '';
  counter-reset: num;
  padding: 0;
}

.navigation .bg-white:hover,
.navigation .bg-white:hover dt,
.navigation .bg-white:hover dt::before
.navigation .bg-white:focus,
.navigation .bg-white:focus dt,
.navigation .bg-white:focus dt::before
.navigation .bg-white:active,
.navigation .bg-white:active dt,
.navigation .bg-white:active dt::before {
  color: var(--white-color);
  background-color: var(--main-color);
}

.navigation div:first-child {
  padding: 0;
}

footer form a {
  color: var(--white-color);
}

.navigation a {
  position: absolute;
  inset: 0;
}

main .bg-middle {
  color: var(--white-color);
}

main h2 {
  font-size: 72px;
  margin-bottom: 30px;
}

main .header-content h2::before {
  content: 'Когнитивные искажения';
  display: block;
  font-size: 24px;
  line-height: 1.2em;
}

main h3 {
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

main .pre {
  font-size: 34px;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

main .bg-light img {
  margin-right: 30px;
}

main .bg-middle img {
  margin-left: 30px;
}

main .header-content {
  display: flex;
}

main .bg-middle .header-content {
  flex-direction: row-reverse;
}

.bg-light::before, .bg-middle::before {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
}

.overlay {
  position: relative;
}

.overlay::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  height: 100px;
  background-color: var(--main-dark-color);
}

button {
  margin-top: 27px;
  height: 50px;
  width: 150px;
  padding: 12px 24px;
  font-weight: bold;
  line-height: 1.6;
  color: var(--white-color);
  text-transform: uppercase;
  background-color: var(--main-color);
  border: none;
}

footer button {
  margin-top: 0;
  margin-left: -5px;
  position: relative;
  width: 70px;
  height: 50px;
  vertical-align: middle;
  padding: 0;
}

button:hover,
button:focus,
button:active {
  background-color: var(--main-orange-color);
}

footer .bg-dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 190px;
  padding: 0 55px;
}

footer span {
  display: block;
}

footer label span {
  font-size: 18px;
  margin-bottom: 9px;
}

footer input {
  height: 50px;
  padding: 0 15px;
  width: 385px;
  font-family: 'Open Sans', sans-serif;
  color: #757575;
  border: none;
  vertical-align: middle;
  font-size: 13.1px;
}

footer input::placeholder {
  color: var(--light-grey-color);
}

footer form > span {
  font-size: 12px;
}

footer button::before {
  content: url('../img/send.svg');
  position: relative;
  top: 2px;
}

footer .copy {
  margin-top: 76px;
}

footer .copy p {
  margin-bottom: 16px;
  font-size: 14px;
}

footer .copy p:last-child {
  margin-bottom: 0;
}

footer .copy a {
  color: var(--blue-color);
}